{{ define "layout" }}
  <!DOCTYPE html>
  <html lang="en" data-bs-theme="auto">
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width,initial-scale=1.0" />
      <meta name="description" content="{{ .Meta.Description }}" />
      <meta property="og:title" content="{{ .Meta.Title }}" />
      <meta property="og:type" content="website" />
      <meta property="og:description" content="{{ .Meta.Description }}" />
      <meta property="og:url" content="https://{{ .Meta.Domain }}{{ .Meta.Path }}" />
      <meta property="og:site_name" content="{{ .Meta.Domain }}" />
      <meta name="format-detection" content="telephone=no" />

      <link rel="canonical" href="https://{{ .Meta.Domain }}{{ .Meta.Path }}" />
      <title>{{ .Meta.Title }}</title>
      <link rel="shortcut icon" type="image/png" href="/favicon.ico" />

      <link rel="stylesheet" href="/css/bootstrap.min.css" />
      <link rel="stylesheet" href="/css/fontawesome.min.css" />
      <link rel="stylesheet" href="/css/fontawesome-all.min.css" />
      <link rel="preload" as="font" href="/webfonts/fa-solid-900.woff2" crossorigin />
      <link rel="preload" as="font" href="/webfonts/fa-regular-400.woff2" crossorigin />
      <link rel="preload" as="font" href="/webfonts/fa-brands-400.woff2" crossorigin />
      <link id="app-style" rel="stylesheet" href="/css/layout.css" />
      {{ template "css" .Data }}
      {{ if .ShowSidebar }}
      <style>
        .main-navigation {
          max-width: none !important;
        }
        </style>
      {{ end }}
    </head>
    <body>
      <div class="header">
        {{ template "header" . }}
      </div>
      <main>
        {{ if .ShowSidebar }}
          {{ template "sidebar" .SidebarData }}
        {{ end }}
        <div class="main-content">
          <div class="main-page">
            {{ template "page" .Data }}
          </div>
          <div class="footer">
            <hr>
            {{ template "footer" . }}
          </div>
        </div>
      </main>
      
      <script src="/js/jquery.min.js"></script>
      <script src="/js/bootstrap.bundle.min.js"></script>
      <script src="/js/color-modes.js"></script>
      <script src="/js/clipboard.min.js"></script>
      <script src="/js/assertoor.js"></script>
      {{ template "js" .Data }}
    </body>
  </html>
{{ end }}
