
body main {
    min-height: calc(100vh - 180px)!important;
}

.header {
    height: 70px;
}

.footer {
    margin-top: 30px;
    margin-bottom: 20px;
}

header.header-bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 0.5em 1.5em rgba(0, 0, 0, .1), 0 0.125em 0.5em rgba(0, 0, 0, .15);
}

@media (min-width: 992px) {
    header .collapsed-info {
        display: none;
    }
}

header.header-bar .navbar-brand {
    margin-right: 0;
}

.test-list .accordion-item.test-list-header .test-header .row > * {
    font-weight: 600;
}

.test-list .accordion-item.test-list-header .accordion-button::after {
    visibility: hidden;
}

.test-list .accordion-item .test-header {
    padding: 8px;
}

.test-list .accordion-item .test-header .test-status {
    width: 40px;
    min-width: 40px;
}

.task-list .accordion-item.task-list-header .task-header .row > * {
    font-weight: 600;
}

.task-list .accordion-item.task-list-header .accordion-button::after {
    visibility: hidden;
}

.task-list .accordion-item .task-header {
    padding: 8px;
}

.task-list .accordion-item .task-header .task-status {
    width: 60px;
    min-width: 60px;
}