
body main {
    display: flex;
    overflow: hidden;
    min-height: calc(100vh - 64px)!important;
}

.header {
    height: 64px;
}

.footer {
    margin-top: 30px;
    margin-bottom: 20px;
}



header.header-bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 0.5em 1.5em rgba(0, 0, 0, .1), 0 0.125em 0.5em rgba(0, 0, 0, .15);
}

@media (min-width: 992px) {
    header .collapsed-info {
        display: none;
    }
}

header.header-bar .main-navigation {
    padding: 0;
    height: 100%
}

header.header-bar .navbar-items {
    align-items: center;
    justify-content: center;
    height: 100%;
}

header.header-bar .navbar-brand {
    width: 280px;
    padding-left: 24px;
}


main .main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

main .main-page {
    flex-grow: 1;
}

.task-list .details-table .details-row,
.test-list .details-table .details-row {
    padding: 0 !important;
}

.task-list .details-table .details-row .details-content,
.test-list .details-table .details-row .details-content {
    padding: 8px;
}
