{{ define "page" }}
  <div class="container mt-2">
    <h2 class="py-2">Minccino: Testnet Testing Tool</h2>
    
    <!-- client pool status -->
    <div class="row">
      <div class="col-6 col-sm-4 col-lg-3">
        Consensus Clients:
      </div>
      <div class="col-6 col-sm-8 col-lg-9">
        {{ .CLReadyCount }} / {{ .ClientCount }}  (Slot: {{ .CLHeadSlot }})
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-sm-4 col-lg-3">
        Execution Clients:
      </div>
      <div class="col-6 col-sm-8 col-lg-9">
        {{ .ELReadyCount }} / {{ .ClientCount }}  (Block: {{ .ELHeadNumber }})
      </div>
    </div>
    
    <!-- test list -->
    <div class="test-list">
      <div class="card mt-2">
        <div class="card-body px-0 py-1">
          <h4 class="px-2 py-1 my-0">Tests</h4>
          <div class="accordion accordion-flush" id="testsList">
            <div class="accordion-item d-none d-sm-block test-list-header">
              <h2 class="accordion-header">
                <div class="accordion-button test-header collapsed">
                  <div class="container">
                    <div class="row">
                      <div class="col-6 col-sm-8 col-lg-9">Name</div>
                      <div class="col-6 col-sm-4 col-lg-3">Run Time</div>
                    </div>
                  </div>
                  <div class="test-status"></div>
                </div>
              </h2>
            </div>
            {{ range $i, $test := .Tests }}
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button test-header collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#test{{ $test.Index }}-panel" aria-expanded="true" aria-controls="test{{ $test.Index }}-panel">
                    <div class="container">
                      <div class="row">

                        <div class="d-sm-none col-3 px-0">Name:</div>
                        <div class="col-7 col-sm-8 col-lg-9">{{ $test.Name }}</div>

                        <div class="d-sm-none col-3 px-0">Run Time:</div>
                        <div class="col-7 col-sm-4 col-lg-3">
                          {{ if $test.HasRunTime }}{{ $test.RunTime }}{{ else }}?{{ end }}{{ if $test.HasTimeout }} / {{ $test.Timeout }}{{ end }}
                        </div>

                      </div>
                    </div>
                    <div class="test-status">
                      {{ if eq $test.Status "pending" }}
                        <span class="badge rounded-pill text-bg-secondary">
                          <i class="far fa-hourglass-half"></i>
                        </span>
                      {{ else if eq $test.Status "running" }}
                        <span class="badge rounded-pill text-bg-primary">
                          <i class="far fa-play-circle"></i>
                        </span>
                      {{ else if eq $test.Status "success" }}
                        <span class="badge rounded-pill text-bg-success">
                          <i class="fas fa-check-circle"></i>
                        </span>
                      {{ else if eq $test.Status "failure" }}
                        <span class="badge rounded-pill text-bg-danger">
                          <i class="fas fa-times-circle"></i>
                        </span>
                      {{ else }}
                        <span class="badge rounded-pill text-bg-warning">
                          {{ $test.Status }}
                        </span>
                      {{ end }}
                    </div>
                  </button>
                </h2>
                <div id="test{{ $test.Index }}-panel" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    <div class="container">
                      <div class="row">
                        <div class="col-6 col-sm-3 col-lg-2">Status:</div>
                        <div class="col-6 col-sm-3 col-lg-10">
                          {{ if eq $test.Status "pending" }}
                            <span class="badge rounded-pill text-bg-secondary">
                              <i class="far fa-hourglass-half"></i> Pending
                            </span>
                          {{ else if eq $test.Status "running" }}
                            <span class="badge rounded-pill text-bg-primary">
                              <i class="far fa-play-circle"></i> Running
                            </span>
                          {{ else if eq $test.Status "success" }}
                            <span class="badge rounded-pill text-bg-success">
                              <i class="fas fa-check-circle"></i> Success
                            </span>
                          {{ else if eq $test.Status "failure" }}
                            <span class="badge rounded-pill text-bg-danger">
                              <i class="fas fa-times-circle"></i> Failure
                            </span>
                          {{ else }}
                            <span class="badge rounded-pill text-bg-warning">
                              {{ $test.Status }}
                            </span>
                          {{ end }}
                        </div>
                      </div>
                      {{ if $test.IsStarted }}
                      <div class="row">
                        <div class="col-6 col-sm-3 col-lg-2">Start Time:</div>
                        <div class="col-6 col-sm-3 col-lg-10">{{ formatDateTime $test.StartTime.UTC }}</div>
                      </div>
                      {{ end }}
                      {{ if $test.IsCompleted }}
                      <div class="row">
                        <div class="col-6 col-sm-3 col-lg-2">Finish Time:</div>
                        <div class="col-6 col-sm-3 col-lg-10">{{ formatDateTime $test.StopTime.UTC }}</div>
                      </div>
                      {{ end }}
                      <div class="row">
                        <div class="col-6 col-sm-3 col-lg-2">Tasks:</div>
                        <div class="col-6 col-sm-3 col-lg-10">{{ .TaskCount }}</div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <a href="/test/{{ $test.Index }}">View Test Details</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {{ end }}

          </div>
        </div>
      </div>
    </div>

  </div>
{{ end }}

{{ define "test_details" }}
  <div class="accordion accordion-flush" id="tasksList-{{ .Index }}">
    <div class="accordion-item d-none d-sm-block test-list-header">
      <h2 class="accordion-header">
        <div class="accordion-button test-header collapsed">
          <div class="container">
            <div class="row">
              <div class="col-6 col-sm-3 col-lg-6">Name</div>
              <div class="col-6 col-sm-3 col-lg-2">Timeout</div>
              <div class="col-6 col-sm-3 col-lg-2">Started</div>
              <div class="col-6 col-sm-3 col-lg-2">Finished</div>
            </div>
          </div>
          <div class="test-status"></div>
        </div>
      </h2>
    </div>
    {{ range $i, $test := .Tests }}
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button test-header collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#test{{ $test.Index }}-panel" aria-expanded="true" aria-controls="test{{ $test.Index }}-panel">
            <div class="container">
              <div class="row">

                <div class="d-sm-none col-3 px-0">Name:</div>
                <div class="col-7 col-sm-3 col-lg-6">{{ $test.Name }}</div>

                <div class="d-sm-none col-3 px-0">Timeout:</div>
                <div class="col-7 col-sm-3 col-lg-2">{{ $test.Timeout }}</div>

                <div class="d-sm-none col-3 px-0">Started:</div>
                <div class="col-7 col-sm-3 col-lg-2">
                  {{ if $test.IsStarted }}
                    {{ formatDateTime $test.StartTime.UTC }}
                  {{ end }}
                </div>

                <div class="d-sm-none col-3 px-0">Finished:</div>
                <div class="col-7 col-sm-3 col-lg-2">
                  {{ if $test.IsCompleted }}
                    {{ formatDateTime $test.StopTime.UTC }}
                  {{ end }}
                </div>

              </div>
            </div>
            <div class="test-status">
              {{ if eq $test.Status "pending" }}
                <span class="badge rounded-pill text-bg-secondary">
                  <i class="far fa-hourglass-half"></i>
                </span>
              {{ else if eq $test.Status "running" }}
                <span class="badge rounded-pill text-bg-primary">
                  <i class="far fa-play-circle"></i>
                </span>
              {{ else if eq $test.Status "success" }}
                <span class="badge rounded-pill text-bg-success">
                  <i class="fas fa-check-circle"></i>
                </span>
              {{ else if eq $test.Status "failure" }}
                <span class="badge rounded-pill text-bg-danger">
                  <i class="fas fa-times-circle"></i>
                </span>
              {{ else }}
                <span class="badge rounded-pill text-bg-warning">
                  {{ $test.Status }}
                </span>
              {{ end }}
            </div>
          </button>
        </h2>
        <div id="test{{ $test.Index }}-panel" class="accordion-collapse collapse">
          <div class="accordion-body">
            <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>
    {{ end }}

  </div>
{{ end }}

{{ define "js" }}
{{ end }}
{{ define "css" }}
{{ end }}