{{ define "page" }}
<div class="d-flex flex-column flex-grow-1 mt-3 container-fluid">
    <h2 class="py-2">Test Run {{ .RunID }}: {{ .Name }}</h2>

    <!-- client pool status -->
    <table class="test-header">
      <tr>
        <td style="width: 200px">
          Test ID:
        </td>
        <td>
          {{ .TestID }}
        </td>
      </tr>
      <tr>
        <td>
          Test Status:
        </td>
        <td>
        {{ if eq .Status "pending" }}
          <span class="badge rounded-pill text-bg-secondary">
            <i class="far fa-hourglass-half"></i> Pending
          </span>
        {{ else if eq .Status "running" }}
          <span class="badge rounded-pill text-bg-primary">
            <i class="far fa-play-circle"></i> Running
          </span>
        {{ else if eq .Status "success" }}
          <span class="badge rounded-pill text-bg-success">
            <i class="fas fa-check-circle"></i> Success
          </span>
        {{ else if eq .Status "failure" }}
          <span class="badge rounded-pill text-bg-danger">
            <i class="fas fa-times-circle"></i> Failed
          </span>
        {{ else if eq .Status "aborted" }}
          <span class="badge rounded-pill text-bg-secondary">
            <i class="fas fa-times-circle"></i> Cancelled
          </span>
        {{ else }}
          <span class="badge rounded-pill text-bg-warning">
            {{ .Status }}
          </span>
        {{ end }}
        </td>
      </tr>
      {{ if .IsStarted }}
      <tr>
        <td>
          Start Time:
        </td>
        <td>
          {{ formatDateTime .StartTime.UTC }}
        </td>
      </tr>
      {{ end }}
      {{ if .IsCompleted }}
      <tr>
        <td>
          Finish Time:
        </td>
        <td>
          {{ formatDateTime .StopTime.UTC }}
        </td>
      </tr>
      {{ end }}
      <tr>
        <td>
          Timeout:
        </td>
        <td>
          {{ .Timeout }}
        </td>
      </tr>
    </table>

    <!-- task list -->
    <div class="task-list">
      <h5 class="mt-3 mb-0">Tasks</h5>

      <table class="table table-condensed table-striped details-table">
        <thead>
          <tr>
            <th style="width:200px; min-width:200px;">ID</th>
            <th style="width:20%; min-width:150px;">Action Name</th>
            <th style="width:60%; min-width:250px;">Task Title</th>
            <th style="width:10%; min-width:200px;">Run Time</th>
            <th style="width:10%; min-width:100px;">Status</th>
            <th style="width:50px;"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="details-row"></tr>
          {{ $isSecTrimmed := .IsSecTrimmed }}
          {{ range $i, $task := .Tasks }}
          <tr class="accordion-toggle task-row" data-task-id="{{ $task.Index }}" data-parent-id="{{ $task.ParentIndex }}" data-task-status="{{ $task.Status }}" data-task-result="{{ $task.Result }}">
            <td class="task-graph">
              <div class="task-graph-cell">
                <div class="graph-container">
                  {{ range $l, $graph := $task.GraphLevels }}
                  <div class="graph-level {{ if gt $graph 0 }}graph-line{{ end }} {{ if eq $graph 3 }}graph-last{{ end }}">
                    {{ if gt $graph 1 }}
                    <div class="graph-item"></div>
                    {{ end }}
                  </div>
                  {{ end }}
                  {{ if $task.HasChildren }}
                  <div class="graph-button expanded">
                    <button class="btn btn-link btn-sm p-0 me-1 task-collapse-btn">
                      <i class="fas fa-square-minus"></i>
                    </button>
                    <div class="graph-expand-line"></div>
                  </div>
                  {{ end }}
                  <div class="graph-label">
                    <span>
                      {{ $task.Index }}
                    </span>
                  </div>
                </div>
              </div>
            </td>
            <td>{{ $task.Name }}</td>
            <td>{{ $task.Title }}</td>
            <td>
              {{ if $task.HasRunTime }}{{ $task.RunTime }}{{ else }}?{{ end }}
              {{ if $task.HasTimeout }} / {{ $task.Timeout }}{{ end }}
              {{ if $task.HasCustomRunTime}}
                <span data-bs-toggle="tooltip"
                      data-bs-placement="top"
                      data-bs-title="Custom timer via outputs.customRunTimeSeconds" >
                  ({{ $task.CustomRunTime}})
                </span>
              {{ end }}
            </td>
            <td>
              {{ if eq $task.Result "success" }}
                <span class="badge rounded-pill text-bg-success">
                  <i class="fas fa-check"></i>
                </span>
              {{ else if eq $task.Result "failure" }}
                <span class="badge rounded-pill text-bg-danger">
                  <i class="fas fa-times"></i>
                </span>
              {{ else }}
                <span class="badge rounded-pill text-bg-secondary">
                  <i class="fas fa-question"></i>
                </span>
              {{ end }}

              {{ if eq $task.Status "pending" }}
                <span class="badge rounded-pill text-bg-secondary">
                  <i class="far fa-hourglass-half"></i>
                </span>
              {{ else if eq $task.Status "running" }}
                <span class="badge rounded-pill text-bg-primary">
                  <i class="far fa-play-circle"></i>
                </span>
              {{ end }}
            </td>
            <td class="p-0"><button class="btn btn-default btn-xs task-details-btn" data-bs-toggle="collapse" data-bs-target="#task-details-{{ $task.Index }}"><i class="fa fa-eye" aria-hidden="true"></i></button></td>
          </tr>
          <tr>
            <td colspan="12" class="details-row task-panel">
              <div class="accordian-body collapse" id="task-details-{{ $task.Index }}">
                <div class="details-content">
                  <table>
                    <tr>
                      <td style="width: 200px;">Status:</td>
                      <td>
                        {{ if eq $task.Status "pending" }}
                          <span class="badge rounded-pill text-bg-secondary">
                            <i class="far fa-hourglass-half"></i> Pending
                          </span>
                        {{ else if eq $task.Status "running" }}
                          <span class="badge rounded-pill text-bg-primary">
                            <i class="far fa-play-circle"></i> Running
                          </span>
                        {{ else if eq $task.Status "complete" }}
                          <span class="badge rounded-pill text-bg-success">
                            <i class="far fa-check-circle"></i> Complete
                          </span>
                        {{ else }}
                          <span class="badge rounded-pill text-bg-warning">
                            <i class="far fa-question"></i> {{ $task.Status }}
                          </span>
                        {{ end }}
                      </td>
                    </tr>
                    <tr>
                      <td>Result:</td>
                      <td>
                        {{ if eq $task.Result "success" }}
                          <span class="badge rounded-pill text-bg-success">
                            <i class="fas fa-check"></i> Success
                          </span>
                        {{ else if eq $task.Result "failure" }}
                          <span class="badge rounded-pill text-bg-danger">
                            <i class="fas fa-times"></i> Failure
                          </span>
                        {{ else }}
                          <span class="badge rounded-pill text-bg-secondary">
                            <i class="fas fa-question"></i> None
                          </span>
                        {{ end }}
                      </td>
                    </tr>
                    {{ if $task.IsStarted }}
                    <tr>
                      <td>Start Time:</td>
                      <td>{{ formatDateTime $task.StartTime.UTC }}</td>
                    </tr>
                    {{ end }}
                    {{ if $task.IsCompleted }}
                    <tr>
                      <td>Finish Time:</td>
                      <td>{{ formatDateTime $task.StopTime.UTC }}</td>
                    </tr>
                    {{ end }}
                    {{ if not (eq $task.ResultError "") }}
                    <tr>
                      <td>Error Result:</td>
                      <td>
                        <pre>{{ .ResultError }}</pre>
                      </td>
                    </tr>
                    {{ end }}
                  </table>

                  {{ if not $isSecTrimmed }}
                  {{ if $task.IsStarted }}
                  <ul class="nav nav-tabs mt-2" id="task{{ $task.Index }}-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="task{{ $task.Index }}-logs-tab" data-bs-toggle="tab" data-bs-target="#task{{ $task.Index }}-logs" type="button" role="tab" aria-controls="task{{ $task.Index }}-logs" aria-selected="true">Logs</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="task{{ $task.Index }}-config-tab" data-bs-toggle="tab" data-bs-target="#task{{ $task.Index }}-config" type="button" role="tab" aria-controls="task{{ $task.Index }}-config" aria-selected="false">Config</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="task{{ $task.Index }}-result-tab" data-bs-toggle="tab" data-bs-target="#task{{ $task.Index }}-result" type="button" role="tab" aria-controls="task{{ $task.Index }}-result" aria-selected="false">Result</button>
                    </li>
                    {{ if $task.HaveResultFiles }}
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="task{{ $task.Index }}-result-files-tab" data-bs-toggle="tab" data-bs-target="#task{{ $task.Index }}-result-files" type="button" role="tab" aria-controls="task{{ $task.Index }}-result-files" aria-selected="false">Result Files</button>
                    </li>
                    {{ end }}
                  </ul>
                  <div class="card">
                    <div class="tab-content card-body" id="task{{ $task.Index }}-tabcontent">
                      <div class="tab-pane fade show active" id="task{{ $task.Index }}-logs" role="tabpanel" aria-labelledby="task{{ $task.Index }}-logs-tab">
                        <div style="max-height:400px; overflow-y:auto;">
                          <table>
                          {{ range $i, $log := .Log }}
                            <tr>
                              <td style="width: 200px;">
                                {{ formatDateTime $log.Time.UTC }}
                              </td>
                              <td style="width: 80px;">
                                {{ if eq $log.Level 0 }}
                                  <span class="loglevel-0 text-danger">PANIC</span>
                                {{ else if eq $log.Level 1 }}
                                  <span class="loglevel-1 text-danger">FATAL</span>
                                {{ else if eq $log.Level 2 }}
                                  <span class="loglevel-2 text-danger">ERROR</span>
                                {{ else if eq $log.Level 3 }}
                                  <span class="loglevel-3 text-warning">WARN</span>
                                {{ else if eq $log.Level 4 }}
                                  <span class="loglevel-4 text-info">INFO</span>
                                {{ else if eq $log.Level 5 }}
                                  <span class="loglevel-5 text-secondary">DEBUG</span>
                                {{ else if eq $log.Level 6 }}
                                  <span class="loglevel-6 text-secondary">TRACE</span>
                                {{ end }}
                              </td>
                              <td style="width: 70px;">
                                <span class="badge rounded-pill text-bg-secondary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" title="{{ range $key, $val := .Data }}{{ $key }}: {{ $val }}<br>{{ end }}">{{ $log.DataLen }} Fields</span>
                              </td>
                              <td>
                                {{ $log.Message }}
                              </td>
                            </tr>
                          {{ end }}
                          </table>
                        </div>
                      </div>
                      <div class="tab-pane fade card-body" id="task{{ $task.Index }}-config" role="tabpanel" aria-labelledby="task{{ $task.Index }}-config-tab">
                        <pre style="text-wrap: pretty">{{ $task.ConfigYaml }}</pre>
                      </div>
                      <div class="tab-pane fade card-body" id="task{{ $task.Index }}-result" role="tabpanel" aria-labelledby="task{{ $task.Index }}-result-tab">
                        <pre style="text-wrap: pretty">{{ $task.ResultYaml }}</pre>
                      </div>
                      {{ if $task.HaveResultFiles }}
                      <div class="tab-pane fade card-body" id="task{{ $task.Index }}-result-files" role="tabpanel" aria-labelledby="task{{ $task.Index }}-result-files-tab">
                        <table class="table table-sm">
                          <thead>
                            <tr>
                              <th>Type</th>
                              <th>Name</th>
                              <th>Index</th>
                              <th>Size</th>
                            </tr>
                          </thead>
                          <tbody>
                            {{ range $result := $task.ResultFiles }}
                            <tr>
                              <td>{{ $result.Type }}</td>
                              <td><a href="{{ $result.URL }}">{{ $result.Name }}</a></td>
                              <td>{{ $result.Index }}</td>
                              <td>{{ $result.Size }}</td>
                            </tr>
                            {{ end }}
                          </tbody>
                        </table>
                      </div>
                      {{ end }}
                    </div>
                  </div>
                  {{ end }}
                  {{ end }}

                </div>
              </div>
            </td>
          </tr>

          {{ end }}
        </tbody>
      </table>
    </div>
  </div>
{{ end }}

{{ define "sidebar" }}
{{ end }}
{{ define "js" }}
<script>
document.addEventListener('DOMContentLoaded', function() {
  // build task relationship map
  var taskParentMap = {};
  var expandedState = {};
  var taskRows = $(".details-table tr.task-row");
  taskRows.each(function() {
    var taskId = $(this).data("task-id");
    var parentId = $(this).data("parent-id");
    taskParentMap[taskId] = parentId;
    expandedState[parentId] = true;
  });

  // set initial expand state
  taskRows.each(function() {
    var taskId = $(this).data("task-id");

    var taskResult = $(this).data("task-result");
    var taskStatus = $(this).data("task-status");

    if (taskStatus == "running") return;
    if (taskResult == "failure") return;

    updateExpandState($(this), false);
  });

  
  // Handle collapse/expand buttons
  document.querySelectorAll('.task-collapse-btn').forEach(btn => {
    btn.addEventListener('click', function(e) {
      e.stopPropagation(); // Prevent row expansion

      var taskRow = $(this).closest("tr.task-row");
      var taskId = taskRow.data("task-id");

      var isExpanded = expandedState[taskId];
      updateExpandState(taskRow, !isExpanded);
    });
  });

  taskRows.each(function() {
    $(this).click(function(e) {
      if (e.target.classList.contains('task-details-btn')) return;
      $(this).find('.task-details-btn').click();
    });
  });

  function updateExpandState(taskRow, expand) {
    var taskId = taskRow.data("task-id");
    expandedState[taskId] = expand;

    updateExpandRow(taskRow, expand);

    if (expand) {
      // expand all children (including children of children, but only if not collapsed by itself)
      var expandTaskIds = Object.keys(taskParentMap).filter(function(childId) {
        if(taskId == childId ||!isParentTask(taskId, childId)) return false;

        var parentId = taskParentMap[childId];
        while (parentId != taskId && parentId != 0) {
          if (!expandedState[parentId]) return false;
          parentId = taskParentMap[parentId];
        }

        return true;
      });

      expandTaskIds.forEach(function(taskId) {
        $(`.task-row[data-task-id="${taskId}"]`).removeClass('d-none');
      });
    } else {
      // collapse all children (including children of children)
      var hideTaskIds = Object.keys(taskParentMap).filter(function(childId) {
        return taskId != childId && isParentTask(taskId, childId);
      });

      hideTaskIds.forEach(function(taskId) {
        $(`.task-row[data-task-id="${taskId}"]`).addClass('d-none');
      });
    }
  }

  function isParentTask(taskId, headTaskId) {
    var currentTaskId = headTaskId;
    while (currentTaskId != taskId && currentTaskId != 0) {
      currentTaskId = taskParentMap[currentTaskId];
    }
    return currentTaskId == taskId;
  }

  function updateExpandRow(taskRow, isExpanded) {
    var icon = taskRow.find(".task-collapse-btn i");
    if (isExpanded) {
      icon.removeClass('fa-square-plus');
      icon.addClass('fa-square-minus');
    } else {
      icon.removeClass('fa-square-minus');
      icon.addClass('fa-square-plus');
    }

    var graphButton = taskRow.find(".graph-button");
    if (isExpanded) {
      graphButton.addClass('expanded');
    } else {
      graphButton.removeClass('expanded');
    }
  }
});
</script>
{{ end }}
{{ define "css" }}
<style>
.task-panel .accordion-body {
  padding: 8px;
  background-color: #fbfbfb;
}

.task-panel .card {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.task-panel .tab-content {
  padding: 4px;
}

.task-panel .nav-tabs .nav-link {
  padding: 2px 16px;
}

.task-list td.task-graph {
  padding: 0 8px;
  height: 1px;
}

.task-list .task-graph .task-graph-cell {
  height:100%;
}

.task-list .task-graph .graph-container {
  min-height: 100%;
  display: flex;
  flex-direction: row;
  
  --graph-border: 1px dotted;
}

.task-graph .graph-container .graph-button {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 2px;
}

.task-graph .graph-container .graph-button .graph-expand-line {
  position: absolute;
  top: calc(50% + 11px);
  bottom: 0;
  left: 6px;
  border-left: var(--graph-border);
  visibility: hidden;
}

.task-graph .graph-container .graph-button.expanded .graph-expand-line {
  visibility: visible;
}

.task-graph .graph-level {
  position: relative;
  width: 10px;
  margin-left: 8px;
}

.task-graph .graph-label {
  flex-grow: 1;
  padding: 8px;
  align-self: center;
}

.task-graph .graph-item {
  position: relative;
  width: 100%;
  height: 100%;
}

.task-graph .graph-level .graph-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  border-bottom: var(--graph-border);
}

.task-graph .graph-last .graph-item {
  height: 100%;
}

.task-graph .graph-level:before, .task-graph .graph-item:before {
  content:"";
  display:block;
  position:absolute;
}

.task-graph .graph-level.graph-line:before {
  width:0;
  top:0;
  bottom:0;
  left:0;
  border-left: var(--graph-border);
}

.task-graph .graph-level.graph-line.graph-last:before {
  bottom: 50%;
}

.task-collapse-btn {
  color: #666;
  text-decoration: none;
}

.task-collapse-btn:hover {
  color: #333;
}
</style>
{{ end }}
