{{ define "sidebar" }}
  <div class="d-flex flex-column flex-shrink-0 p-3 sidebar" style="width: 280px;">
    <div class="container-fluid text-secondary">
      <div class="row">
        <div class="col-12">
          Connected Clients:
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          CL: {{ .CLReadyCount }} / {{ .ClientCount }}
        </div>
        <div class="col-6">
          Slot: {{ .CLHeadSlot }}
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          EL: {{ .ELReadyCount }} / {{ .ClientCount }}
        </div>
        <div class="col-6">
          Block: {{ .ELHeadNumber }}
        </div>
      </div>
    </div>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="/" class="nav-link {{ if .AllTestsActive }}active{{ end }}" aria-current="page">
          All Test Runs
        </a>
      </li>
      <li class="my-1">
        <hr>
        Tests:
      </li>
      {{ range $i, $test := .TestDescriptors }}
      <li>
        <a href="/test/{{ $test.ID }}" class="nav-link {{ if $test.Active }}active{{ end }}">
          {{ $test.Name }}
        </a>
      </li>
      {{ end }}
    </ul>
  </div>
{{ end }}