{{ define "sidebar" }}
  <div class="d-flex flex-column flex-shrink-0 p-3 sidebar" style="width: 280px;">
    <div class="container-fluid text-secondary">
      <div class="row">
        <div class="col-12">
          Connected Clients:
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          CL: {{ .CLReadyCount }} / {{ .ClientCount }}
        </div>
        <div class="col-7">
          Slot: {{ .CLHeadSlot }}
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          EL: {{ .ELReadyCount }} / {{ .ClientCount }}
        </div>
        <div class="col-7">
          Block: {{ .ELHeadNumber }}
        </div>
      </div>
    </div>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      {{ if .CanRegisterTests }}
      <li class="nav-item">
        <a href="/registry" class="nav-link {{ if .RegistryActive }}active{{ end }}" aria-current="page">
          Test Registrations
        </a>
      </li>
      {{ end }}
      <li class="nav-item">
        <a href="/" class="nav-link {{ if .AllTestsActive }}active{{ end }}" aria-current="page">
          All Test Runs
        </a>
      </li>
      <li class="my-1">
        <hr>
        Tests:
      </li>
      {{ range $i, $test := .TestDescriptors }}
      <li>
        <a href="/test/{{ $test.ID }}" class="nav-link {{ if $test.Active }}active{{ end }}">
          {{ $test.Name }}
        </a>
      </li>
      {{ end }}
      {{ if .CanRegisterTests }}
      <li class="nav-item">
        <a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#registerTestModal">
          <i class="fa fa-circle-plus mx-1"></i> Register Test
        </a>
      </li>
      {{ end }}
    </ul>
  </div>
  {{ if .CanRegisterTests }}
  <div class="modal fade modal-xl" id="registerTestModal" tabindex="-1" aria-labelledby="registerTestModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="registerTestModalLabel">Register Test</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body container-fluid">
          <div class="row">
            <div class="col-4">
              Playbook URL:
            </div>
            <div class="col-8">
              <input type="text" class="form-control" id="registerTestFile" placeholder="https://.../test.yaml">
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              Custom Name:
            </div>
            <div class="col-8">
              <input type="text" class="form-control" id="registerTestName">
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              Custom Config:
            </div>
            <div class="col-12 ">
              <textarea class="form-control" id="registerTestConfig" rows="3" style="width:100%;height:400px;"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="registerTestButton">Register Test</button>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(document).ready(function() {
      var editor = ace.edit("registerTestConfig");
      editor.session.setMode("ace/mode/yaml");
    
      window.editor = editor;
      resetConfigOverrides();
      $("#registerTestButton").on("click", registerTest);
    
      function resetConfigOverrides() {
        editor.setValue("", -1);
      }
    
      function registerTest() {
        var configJson;
        try {
          var configYaml = editor.getValue();
          configJson = YAML.parse(configYaml);
        } catch(ex) {
          alert("invalid config yaml: " + ex.toString());
          return;
        }

        var testFile = $("#registerTestFile").val();
        if(!testFile) {
          alert("playbook link is required");
          return;
        }
    
        var reqPromise = new Promise(function(resolve, reject) {
          $.ajax({
            type: "POST",
            url: "/api/v1/tests/register_external",
            dataType: "json",
            async: false,
            data: JSON.stringify({
              file: testFile,
              name: $("#registerTestName").val() || "",
              config: configJson
            }),
            success: resolve,
            error: reject
          });
        });
    
        reqPromise.then(function(res) {
          if(!res || res.status !== "OK") {
            throw res.status;
          }
          location.reload();
        }, function(rsp) {
          throw rsp.responseJSON ? rsp.responseJSON.status : rsp.statusText;
        }).catch(function(err) {
          alert("Could not register test: " + err.toString());
        });
      }
    
    });
  </script>
  <style>
    #registerTestModal .ace_editor {
      min-height: 300px;
    }
    
    </style>
  {{ end }}
{{ end }}