
name: Reusable build workflow
on:
  workflow_call:
    inputs:
      ref:
        description: 'The branch, tag or SHA to build'
        required: true
        type: string
      release:
        description: 'Release version tag for this build'
        default: ''
        required: false
        type: string
      docker:
        description: 'Build docker images'
        default: false
        required: true
        type: boolean
      docker_repository:
        description: 'Docker Hub Repository'
        default: ''
        required: false
        type: string
      docker_tag_prefix:
        description: 'Docker Image Tag Prefix'
        default: ''
        required: false
        type: string
      additional_tags:
        description: 'Additional Docker Image Tags (JSON)'
        default: ''
        required: false
        type: string
    secrets:
      DOCKERHUB_USERNAME:
        description: 'Docker Hub Username'
        required: false
      DOCKERHUB_TOKEN:
        description: 'Docker Hub Token'
        required: false

# shared build jobs
jobs:
  build_frontend:
    name: Build frontend
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        ref: ${{ inputs.ref }}

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'

    - name: Build frontend
      run: make ui

    # upload artifacts
    - name: "Upload artifact: frontend"
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        path: ./pkg/web/static/
        name: frontend

  build_linux_amd64_binary:
    name: Build linux/amd64 binary
    needs: [build_frontend]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        ref: ${{ inputs.ref }}

    # setup global dependencies
    - name: Set up go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version: 1.25.x

    # download frontend artifacts
    - name: Download frontend artifacts
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        name: frontend
        path: ./pkg/web/static

    # setup project dependencies
    - name: Get dependencies
      run: |
        go get -v -t -d ./...

    # build binaries
    - name: Build linux amd64 binary
      run: |
        make docs
        make build
      env:
        RELEASE: ${{ inputs.release }}

    # upload artifacts
    - name: "Upload artifact: assertoor_linux_amd64"
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        path: ./bin/*
        name: assertoor_linux_amd64

  build_linux_arm64_binary:
    name: Build linux/arm64 binary
    needs: [build_frontend]
    runs-on: ubuntu-24.04-arm
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        ref: ${{ inputs.ref }}

    # setup global dependencies
    - name: Set up go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version: 1.25.x

    # download frontend artifacts
    - name: Download frontend artifacts
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        name: frontend
        path: ./pkg/web/static

    # setup project dependencies
    - name: Get dependencies
      run: |
        go get -v -t -d ./...

    # build binaries
    - name: Build linux arm64 binary
      run: |
        make docs
        make build
      env:
        RELEASE: ${{ inputs.release }}

    # upload artifacts
    - name: "Upload artifact: assertoor_linux_arm64"
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        path: ./bin/*
        name: assertoor_linux_arm64

  build_windows_binary:
    name: Build windows/amd64 binary
    needs: [build_frontend]
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        ref: ${{ inputs.ref }}

    # setup global dependencies
    - name: Set up go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version: 1.25.x

    # download frontend artifacts
    - name: Download frontend artifacts
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        name: frontend
        path: ./pkg/web/static

    # setup project dependencies
    - name: Get dependencies
      run: |
        go get -v -t -d ./...

    # build binaries
    - name: Build windows binary
      run: |
        make docs
        make build
      env:
        RELEASE: ${{ inputs.release }}

    # upload artifacts
    - name: "Upload artifact: assertoor_windows_amd64"
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        path: ./bin/*
        name: assertoor_windows_amd64

  build_darwin_amd64_binary:
    name: Build macos/amd64 binary
    needs: [build_frontend]
    runs-on: macos-15-intel
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        ref: ${{ inputs.ref }}

    # setup global dependencies
    - name: Set up go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version: 1.25.x

    # download frontend artifacts
    - name: Download frontend artifacts
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        name: frontend
        path: ./pkg/web/static

    # setup project dependencies
    - name: Get dependencies
      run: |
        go get -v -t -d ./...

    # build binaries
    - name: Build macos amd64 binary
      run: |
        make docs
        make build
      env:
        RELEASE: ${{ inputs.release }}

    # upload artifacts
    - name: "Upload artifact: assertoor_darwin_amd64"
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        path: ./bin/*
        name: assertoor_darwin_amd64

  build_darwin_arm64_binary:
    name: Build macos/arm64 binary
    needs: [build_frontend]
    runs-on: macos-26
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        ref: ${{ inputs.ref }}

    # setup global dependencies
    - name: Set up go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version: 1.25.x

    # download frontend artifacts
    - name: Download frontend artifacts
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        name: frontend
        path: ./pkg/web/static

    # setup project dependencies
    - name: Get dependencies
      run: |
        go get -v -t -d ./...

    # build binaries
    - name: Build macos arm64 binary
      run: |
        make docs
        make build
      env:
        RELEASE: ${{ inputs.release }}

    # upload artifacts
    - name: "Upload artifact: assertoor_darwin_arm64"
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        path: ./bin/*
        name: assertoor_darwin_arm64

  build_amd64_docker_image:
    name: Build amd64 docker image
    needs: [build_linux_amd64_binary]
    if: ${{ inputs.docker }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        ref: ${{ inputs.ref }}

    - name: Get build version
      id: vars
      run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

    # prepare docker
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
    - name: Login to Docker Hub
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    # download build artifacts
    - name: Download build artifacts
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        name: assertoor_linux_amd64
        path: ./bin

    # prepare environment
    - name: Prepare build environment
      run: |
        chmod +x ./bin/*
        ls -lach ./bin

    # build amd64 image
    - name: Build amd64 docker image
      run: |
        docker build . --file Dockerfile-stub \
          --tag ${{ inputs.docker_repository }}:${{ inputs.docker_tag_prefix }}-amd64 \
          --tag ${{ inputs.docker_repository }}:${{ inputs.docker_tag_prefix }}-${{ steps.vars.outputs.sha_short }}-amd64 \
          --platform=linux/amd64
    - name: Push amd64 docker images
      run: |
        docker push ${{ inputs.docker_repository }}:${{ inputs.docker_tag_prefix }}-amd64
        docker push ${{ inputs.docker_repository }}:${{ inputs.docker_tag_prefix }}-${{ steps.vars.outputs.sha_short }}-amd64

  build_arm64_docker_image:
    name: Build arm64 docker image
    needs: [build_linux_arm64_binary]
    if: ${{ inputs.docker }}
    runs-on: ubuntu-24.04-arm
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        ref: ${{ inputs.ref }}
    - name: Get build version
      id: vars
      run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

    # prepare docker
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
    - name: Login to Docker Hub
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    # download build artifacts
    - name: Download build artifacts
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        name: assertoor_linux_arm64
        path: ./bin

    # prepare environment
    - name: Prepare build environment
      run: |
        chmod +x ./bin/*
        ls -lach ./bin

    # build arm64 image
    - name: Build arm64 docker image
      run: |
        docker build . --file Dockerfile-stub \
          --tag ${{ inputs.docker_repository }}:${{ inputs.docker_tag_prefix }}-arm64 \
          --tag ${{ inputs.docker_repository }}:${{ inputs.docker_tag_prefix }}-${{ steps.vars.outputs.sha_short }}-arm64 \
          --platform=linux/arm64
    - name: Push arm64 docker image
      run: |
        docker push ${{ inputs.docker_repository }}:${{ inputs.docker_tag_prefix }}-arm64
        docker push ${{ inputs.docker_repository }}:${{ inputs.docker_tag_prefix }}-${{ steps.vars.outputs.sha_short }}-arm64

  build_multiarch_image:
    name: Build multiarch docker image
    needs: [build_amd64_docker_image, build_arm64_docker_image]
    if: ${{ inputs.docker }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        ref: ${{ inputs.ref }}
    - name: Get build version
      id: vars
      run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

    # prepare docker
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
    - name: Login to Docker Hub
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    # build multiarch image
    - name: Build multiarch docker manifest
      run: |
        docker buildx imagetools create -t ${{ inputs.docker_repository }}:${{ inputs.docker_tag_prefix }}-${{ steps.vars.outputs.sha_short }} \
        ${{ inputs.docker_repository }}:${{ inputs.docker_tag_prefix }}-${{ steps.vars.outputs.sha_short }}-amd64 \
        ${{ inputs.docker_repository }}:${{ inputs.docker_tag_prefix }}-${{ steps.vars.outputs.sha_short }}-arm64

  build_extra_image:
    name: Build additional docker manifests
    needs: [build_multiarch_image]
    if: ${{ inputs.additional_tags }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tag: ${{ fromJSON(inputs.additional_tags) }}
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        ref: ${{ inputs.ref }}
    - name: Get build version
      id: vars
      run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

    # prepare docker
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
    - name: Login to Docker Hub
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    # build multiarch image
    - name: "Build additional docker manifest: ${{ matrix.tag }}"
      run: |
        docker buildx imagetools create -t ${{ inputs.docker_repository }}:${{ matrix.tag }}-amd64 \
        ${{ inputs.docker_repository }}:${{ inputs.docker_tag_prefix }}-${{ steps.vars.outputs.sha_short }}-amd64

        docker buildx imagetools create -t ${{ inputs.docker_repository }}:${{ matrix.tag }}-arm64 \
        ${{ inputs.docker_repository }}:${{ inputs.docker_tag_prefix }}-${{ steps.vars.outputs.sha_short }}-arm64

        docker buildx imagetools create -t ${{ inputs.docker_repository }}:${{ matrix.tag }} \
        ${{ inputs.docker_repository }}:${{ inputs.docker_tag_prefix }}-${{ steps.vars.outputs.sha_short }}-amd64 \
        ${{ inputs.docker_repository }}:${{ inputs.docker_tag_prefix }}-${{ steps.vars.outputs.sha_short }}-arm64
