
name: Reusable check workflow
on:
  workflow_call:
    inputs:
      ref:
        description: 'The branch, tag or SHA to check'
        default: ''
        required: false
        type: string

# shared check jobs
jobs:
  check_source:
    name: Run code checks
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        ref: ${{ inputs.ref }}

    # setup global dependencies
    - name: Set up go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version: 1.25.x

    - name: Verify dependencies
      run: go mod verify

    - name: Run go vet
      run: go vet ./...

    - name: Check go fmt
      run: if [ "$(gofmt -s -l . | wc -l)" -gt 0 ]; then exit 1; fi

    - name: Install staticcheck
      run: go install honnef.co/go/tools/cmd/staticcheck@latest
    - name: Run staticcheck
      run: staticcheck ./...


    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
      with:
        # Optional: version of golangci-lint to use in form of v1.2 or v1.2.3 or `latest` to use the latest version
        version: v2.7.2

        # Optional: working directory, useful for monorepos
        # working-directory: somedir

        # Optional: golangci-lint command line arguments.
        # args: --issues-exit-code=0

        # Optional: show only new issues if it's a pull request. The default value is `false`.
        # only-new-issues: true

        # Optional: if set to true then the all caching functionality will be complete disabled,
        #           takes precedence over all other caching options.
        # skip-cache: true

        # Optional: if set to true then the action don't cache or restore ~/go/pkg.
        # skip-pkg-cache: true

        # Optional: if set to true then the action don't cache or restore ~/.cache/go-build.
        # skip-build-cache: true

    - name: Run tests
      run: go test -race -vet=off ./...

    - name: Check if all tasks have a README.md
      run: |
        for taskdir in pkg/tasks/*/; do
          taskdir=${taskdir%*/}
          taskname=${taskdir##*/}

          if [[ ! -f "$taskdir/README.md" ]]; then
            echo "Could not find $taskdir/README.md"
            echo "Please add documentation for $taskname task"
            exit 1
          fi
        done

  check_frontend:
    name: Run frontend checks
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        ref: ${{ inputs.ref }}

    - name: Set up Node.js
      uses: actions/setup-node@v6
      with:
        node-version: '22'

    - name: Install dependencies
      run: cd web-ui && npm ci

    - name: Run linter
      run: cd web-ui && npm run lint

    - name: Run type check
      run: cd web-ui && npm run typecheck
