{{ define "page" }}
  <div class="d-flex flex-column flex-grow-1 mt-3 container-fluid">
    <h2 class="py-2">{{ .Name }}</h2>

    <table class="test-header">
      <tr>
        <td style="width: 200px">
          Test ID:
        </td>
        <td>
          {{ .ID }}     
        </td>
      </tr>
      <tr>
        <td>
          Source:
        </td>
        <td>
          {{ .Source }}     
        </td>
      </tr>
    </table>

    <!--
    <h5 class="mt-3 mb-0">Schedule Execution</h5>
    -->
    
    <h5 class="mt-3 mb-0">Test Runs</h5>
    {{ template "test_runs" .Tests }}

  </div>
{{ end }}

{{ define "js" }}
{{ end }}
{{ define "css" }}
{{ end }}